<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/login.css">
  <title>Login / Sign Up</title>
</head>
<body>
  <div class="Title">
    <h1>GitHealthy Account</h1>
  </div>
  <div class="form-container">
    <div class="toggle-buttons">
      <button id="login-btn" class="<%= activeForm === 'loginForm' ? 'active' : '' %>">Login</button>
      <button id="signup-btn" class="<%= activeForm === 'signupForm' ? 'active' : '' %>">Sign Up</button>
    </div>

    <!-- Login Form -->
    <form id="login-form" class="form <%= activeForm === 'loginForm' ? 'active' : '' %>" action="/login/loginAccount" method="post">
      <h1>Login</h1>

      <% if (typeof error !== 'undefined' && error && activeForm == 'loginForm') { %>
        <div class="error-message"><%= error %></div>
      <% } %>

      <input type="email" id="login-email" name="email_addr" placeholder="Email" required />
      <input type="password" id="login-password" name="password" placeholder="Password" required />
      <button type="submit">Login</button>
      <button type="button" id="github">Login with GitHub</button>
    </form>

    <!-- Sign Up Form -->
    <form id="signup-form" name="signupForm" class="form <%= activeForm === 'signupForm' ? 'active' : '' %>" action="/login/createAccount" method="post">
      <h1>Sign Up</h1>
      <!-- Error case incase of already existing details -->
      <% if (typeof error !== 'undefined' && error && activeForm == 'signupForm') { %>
        <div class="error-message"><%= error %></div>
      <% } %>

      <input type="text" id="username" name="username" placeholder="Username" value="<%= typeof formData !== 'undefined' && activeForm == 'signupForm' && formData.username ? formData.username : '' %>" required />
      <input type="email" id="signup-email" name="email_addr" placeholder="Email" value="<%= typeof formData !== 'undefined' && activeForm == 'signupForm' && formData.email_addr ? formData.email_addr : '' %>" required />
      <input type="password" id="signup-password" name="password" placeholder="Password" required />
      <button type="submit" id="submit-info">Sign Up</button>
    </form>
  </div>
    <!--Scripts-->
    <script>
      // Pass server-side activeForm to JavaScript
      window.serverActiveForm = '<%= activeForm || "loginForm" %>';
    </script>
    <script type="module">
      import { generateBackground } from '/javascript/components/controller.js';
      
      generateBackground();
    </script>
    <script type="module" src="/javascript/login.js"></script>
  </body>
</html>
